<div class="container">
  <a routerLink="/home"><i class="fa-solid fa-house material-symbols-outlined"></i></a>
  <a routerLink="/login"><i class="fa-solid fa-people-group material-symbols-outlined"></i></a>
  <a routerLink="/home"><i class="fa-solid fa-cash-register material-symbols-outlined"></i></a>
  <a routerLink="/home/list-clientes"><i class="fa-solid fa-list material-symbols-outlined"></i></a>
  <a routerLink="/home"><i class="fa-solid fa-house material-symbols-outlined"></i></a>
  <a routerLink="/home/list-clientes"><i class="fa-solid fa-list material-symbols-outlined"></i></a>
  <a routerLink="/home"><i class="fa-solid fa-house material-symbols-outlined"></i></a>
  <a routerLink="/home/list-clientes"><i class="fa-solid fa-list material-symbols-outlined"></i></a>
</div>
